header{
    .baner{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 400px;
        background-image: url('autko.jpg');
        opacity: 0.4;
        background-size: cover;
    }
    h1{
        font-size: 3em;
        color: #ff0000;
        opacity: 100%;
        position: absolute;
        left: 28%;
        bottom: 70%;
    }
}